@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,600;1,800&display=swap');

:root {
    --bg-color-1: #f2f2fc;
    --bg-color-2: #fdf9ff;
    --bg-color-3: #e8dfec;
    --text-color: #000000;
    --text-color2: #202020;
    --skin-color: #FF0800;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.dark {
    --bg-color-1: #202020;
    --bg-color-2: #0000;
    --bg-color-3: #000000;
    --text-color: #f2f2fc;
    --text-color2: #e8dfec;
    --text-color-3: #fdf9ff;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.section {
    display: block;
    background: var(--bg-color-3);
    width: 100%;
    height: 100%;
    transition: all .45s ease;
}

.heading {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 20px;
    padding: 0 15px;
    font-size: 20px;
    position: relative;
    margin-bottom: 60px;
    color: var(--text-color);
}

.heading h2::before {
    content: "";
    position: absolute;
    border-bottom: 5px solid var(--skin-color);
    width: 7%;
    bottom: 0;
}

.heading h2::after {
    content: "";
    position: absolute;
    border-bottom: 5px solid var(--skin-color);
    width: 7%;
    bottom: -10px;
    left: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0px 30px;
    padding: 50px 15px;
}

.main-content {
    padding-left: 270px;
}

.row-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.aside {
    width: 270px;
    background: var(--bg-color-1);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    border-right: var(--text-color2);
    box-shadow: 0 0 10px var(--text-color2);
}

.aside a {
    color: var(--text-color);
}

.logo {
    position: absolute;
    top: 40px;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 700;

}

.logo a {
    position: relative;
    padding: 30px 18px;
}

.logo a span {
    font-family: 'Clicker Script', cursive;
    font-size: 50px;
}

.logo a::before {
    content: "";
    position: absolute;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    width: 60px;
    height: 30px;
    top: 0;
    right: 0;
}

.logo a::after {
    content: "";
    position: absolute;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    width: 60px;
    height: 30px;
    bottom: 0;
    left: 0;
}

.nav {
    margin-top: 80px;
}

.nav li {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--text-color2);
    border-radius: 10px;
    padding: 10px;
    letter-spacing: 1px;
    font-weight: 600;
}

.logo span {
    color: var(--skin-color);
    font-weight: 800;
    font-size: 50px;
}

.nav li i {
    padding-right: 10px;
}

.nav .active {
    color: var(--skin-color);
}

.nav a:hover {
    color: var(--skin-color);
    transition: .45s;
}

.home {
    height: 100vh;
    display: flex;
    padding-top: 100px;
}

.home-info {
    flex: 0 0 60%;
    max-width: 60%;
    color: var(--text-color);
    padding-top: 60px;
}

.home-info h3 {
    font-size: 28px;
    padding-bottom: 30px;
}

.home-info h3 span {
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
    color: var(--skin-color);
    font-weight: 900;
    padding-left: 10px;
    letter-spacing: 2px;
}

h4 {
    font-size: 20px;
    padding-bottom: 20px;
}

h4 .typing {
    color: var(--skin-color);
}

p {
    font-size: 12px;
    color: var(--text-color);
    padding-bottom: 45px;
}

.btn {
    background-color: red;
    margin-left: 15px;
    padding: 8px 12px;
    border-radius: 20px;
    color: #ffffff;
    transition: all .45s ease;
    box-shadow: 0 10px 10px black;
}

.btn:hover {
    letter-spacing: 4px;
}

.home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home-img img {
    height: 400px;
}

.home-img::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    bottom: -40px;
    right: 0;
}

.home-img::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    top: -40px;
    left: 0;
}

.about-content {
    padding: 0 15px;
}

.about-content h3 {
    font-size: 18px;
    padding-bottom: 20px;
    color: var(--text-color);
}

.about-content h3 span {
    color: var(--skin-color);
}

.about-content p {
    font-weight: 500;
    margin-bottom: 10px;
}

.about-info {
    flex: 0 0 100%;
    max-width: 100%;
    color: var(--text-color);
}

.personal-info {
    flex: 0 0 60%;
    max-width: 60%;
}

.hire {
    margin-left: 25px;
    margin-top: 70px;
}

.hire .btn-2 {
    background-color: red;
    margin-left: 15px;
    padding: 8px 12px;
    border-radius: 20px;
    color: #ffffff;
    transition: all .45s ease;
    box-shadow: 0 10px 10px black;
}

.hire .btn-3 {
    background-color: red;
    margin-left: 15px;
    padding: 8px 30px;
    border-radius: 20px;
    color: #ffffff;
    transition: all .45s ease;
    box-shadow: 0 10px 10px black;
}

.btn-2:hover {
    transform: scale(1.1);
    letter-spacing: 2px;
}

.btn-3:hover {
    transform: translateX(12px);
    letter-spacing: 2px;
}

.skill {
    flex: 0 0 40%;
    max-width: 40%;
}

.info-item {
    flex: 0 0 35%;
    max-width: 35%;
    margin-right: 80px;
}

.info-item h5 {
    font-weight: 600;
    padding-top: 40px;
    border-bottom: 1px solid var(--text-color2);
}

.info-item span {
    font-weight: 400;
}

.skill-item {
    flex: 0 0 95%;
    max-width: 950%;
    margin-bottom: 30px;
}

.skill-item h5 {
    font-size: 15px;
    padding-bottom: 8px;
}

.progress {
    background-color: palevioletred;
    height: 7px;
    width: 100%;
    border-radius: 20px;
    position: relative;
}

.progress-in {
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;
    border-radius: 20px;
    background-color: var(--skin-color);
}

.skill-percent {
    position: absolute;
    right: 0;
    top: -30px;
}

.service-content {
    margin-top: 10px;
}

.service-item {
    flex: 0 0 44.5%;
    max-width: 44.5%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid var(--bg-color-3);
    background-color: var(--bg-color-1);
    margin: 20px;
    padding: 15px 25px;
    transition: all .45s ease;
}

.service-item .icon i {
    font-size: 30px;
    color: var(--skin-color);
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: all .45s ease;
}

.service-item h4 {
    font-size: 20px;
    color: var(--text-color);
}

.service-item:hover {
    box-shadow: 0 0 20px var(--text-color2);

}

.service-item:hover .icon i {
    background-color: var(--skin-color);
    color: var(--bg-color-1);
    font-size: 20px;
}

.portfolio-content {
    padding: 0 15px;
}

.port-title h3 {
    color: var(--text-color2);
    font-size: 20px;
    margin-bottom: 30px;
}

.project {
    flex: 0 0 31.33%;
    max-width: 31.33%;
    margin: 11px;
    position: relative;
    justify-content: center;
}

.project-img {
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    border: 5px solid var(--bg-color-2);
    transition: .45s;
}

.project-img:hover img {
    transform: scale(1.3);
}

.project-img img {
    width: 100%;
    height: 220px;
    transition: .45s;
}

.port-info {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    left: 0;
    padding: 0 15px;
    display: flex;
    align-items: end;
    justify-content: center;
    color: #ffffff;
    border-radius: 10px;
    background: linear-gradient(#0000, #121212);
    transition: transform .45s ease-in-out;
}

.port-info .link i {
    position: absolute;
    right: 20px;
    bottom: 25px;
    color: var(--skin-color);
    font-weight: 900;
}

.contact-content {
    padding: 0 15px;
}

.contact-title {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.contact-title h4 {
    color: var(--skin-color);
}

.contact-title h5 {
    color: var(--text-color);
    font-size: 15px;
}

.contact-info {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact-symbol {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
}

.contact-icon i {
    font-size: 25px;
    margin-bottom: 15px;
    color: var(--skin-color);
}

.icon-text h4 {
    color: var(--text-color2);
}

.icon-text h5 {
    color: var(--text-color2);
}

.second-title {
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
    color: var(--skin-color);
    margin-bottom: 40px;
}

.contact-form {
    flex: 0 0 100%;
    max-width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

#input {
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    box-shadow: 3px 3px 2px var(--text-color2);
    transition: .45s;
}

.padd-15 {
    padding: 0 25px;
}

#input:hover {
    box-shadow: 0 0 20px var(--text-color2);
    transform: scale(1.1);
}

.form textarea {
    border-radius: 20px;
    resize: none;
    outline: none;
    border: none;
    transition: .45s;
    box-shadow: 3px 3px 2px var(--text-color2);
}

.form textarea:hover {
    box-shadow: 0 0 20px var(--text-color2);
    transform: scale(1.1);
}

.day-night {
    position: fixed;
    top: 100px;
    right: 40px;
    font-size: 20px;
    background-color: var(--bg-color-1);
    color: var(--skin-color);
    padding: 10px 15px;
    border-radius: 50%;
}

#menu {
    position: fixed;
    top: 40px;
    right: 45px;
    background-color: var(--bg-color-1);
    color: var(--skin-color);
    padding: 10px 10px;
    border-radius: 50%;
    font-size: 20px;
    display: none;
}

.mobile-nav-active .aside {
    left: 0;
    transition: .45s;
}

@media(max-width: 1495px) {
    .section {
        width: 100%;
        height: 100%;
        transition: all .45s ease;
        overflow: hidden;
    }

    .container {
        width: 100%;
        padding: 50px 15px;
    }

    .project {
        flex: 0 0 30.5%;
        max-width: 30.5%;
    }
}

@media(max-width: 1220px) {
    .info-item {
        flex: 0 0 35%;
        max-width: 35%;
        margin-right: 30px;
    }
}

@media(max-width: 1172px) {
    .aside {
        left: -270px;
    }

    .main-content {
        padding-left: 0px;
    }

    #menu {
        display: block;
    }
}

@media(max-width: 880px) {
    .home-img {
        display: none;
    }

    .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .project {
        flex: 0 0 45%;
        max-width: 45%;
    }

    .personal-info {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 60px;
    }

    .skill {
        flex: 0 0 95%;
        max-width: 95%;
    }

    .info-item {
        flex: 0 0 35%;
        max-width: 35%;
        margin-right: 80px;
    }
}

@media(max-width: 758px) {
    .service-item {
        flex: 0 0 90%;
        max-width: 90%;
    }
}

@media(max-width: 620px) {
    .project {
        flex: 0 0 90%;
        max-width: 90%;
    }

    .contact-symbol {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media(max-width: 620px) {
    .container {
        margin: 0px;
        padding: 60px 10px;
    }
}

@media(max-width: 585px) {
    .info-item {
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 80px;
    }
}

@media(max-width: 385px) {
    .hire {
        margin: 30px 0;
        font-size: 10px;
    }
}

@keyframes slidetop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}